/*------------------------ standard formatting ------------------------*/

body {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.page1 {
    background-image: url(/milestone-project-new-version/assets/images/long-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.page2 {
    background-image: url(/milestone-project-new-version/assets/images/slide-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

/*------------------------ gutters/line-breaks ------------------------*/

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

div.line-break-big {
    border: 0.5vh solid darkcyan;
    border-radius: 10px;
    margin: 5vh 40vw;
    background-color: darkcyan;
}

/*------------------------ colors/text-transform ------------------------*/

.whitefont {
    color: white;
}

.uppercase {
    text-transform: uppercase;
}

/*--------------------------- Segmentation -----------------------------*/

/*------------------------ navbar ------------------------*/



/*------------------------ carousel ------------------------*/

.carousel-item {
    height: 33vh;
}

/*------------------------ horizontal images ------------------------*/

.image-horizontal{

}

.image-horizontal-img {
   
}

/*------------------------ horizontal text ------------------------*/

.text-horizontal {

}

/*------------------------ hover.css ------------------------*/

